<% layout('../boilerplate') %>
<% stylesheet('/css/style.css') -%>
<% include ../partials/header %>
<h5>Select Category</h5>
<div class="row">
    <div class="col s4 grey" style="padding: 10px;">
        <a href="/product/Seed" class="btn blue">Seed</a>
    </div>
    <div class="col s4 grey" style="padding: 10px;">
        <a href="/product/Herbicide" class="btn blue">Herbicide</a>
    </div>
    <div class="col s4 grey" style="padding: 10px;">
        <a href="/product/Fungicide" class="btn blue">Fungicide</a>
    </div>
    <div class="col s4 grey" style="padding: 10px;">
        <a href="/product/Insecticide" class="btn blue">Insecticide</a>
    </div>
    <div class="col s4 grey" style="padding: 10px;">
        <a href="/product/Fertilizer" class="btn blue">Fertilizer</a>
    </div>
    <div class="col s4 grey" style="padding: 10px;">
        <a href="/product/Other" class="btn blue">Other</a>
    </div>
</div>








