<% layout('../boilerplate') %> 
<div class="row">
    <div class="col">
        <form action="/register" method="post">
            <input type="text" name="loginid">
            <input type="password" name="password">
        <input type="submit" value="Register">
        </form>
    </div>
</div>